@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  display: grid;
  font-family: "Roboto", sans-serif;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  color: #FFDADA;
  background-image: url(../public/img/background.png);
  background-size: cover; }

ol, ul {
  padding-left: 0; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit;
  display: inline-block; }

.flex-row {
  display: flex; }

.flex-column {
  display: flex;
  flex-direction: column; }

.container {
  max-width: 108em;
  margin: 0 auto; }

.grid {
  display: grid; }

main div {
  align-items: center;
  justify-content: space-between;
  height: 100%; }

header div {
  min-height: 10vh;
  justify-content: space-around;
  align-items: center;
  min-width: 100vw; }
  header div .logo {
    flex-basis: 10%;
    justify-content: center; }
  header div h1 {
    flex-basis: 20%;
    font-size: 5em; }

footer {
  min-width: 30em;
  min-height: 10vh;
  justify-content: space-around;
  align-items: center; }
