nav {
    min-height: 10vh;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2em;
}

.logo {
    flex-basis: 20%;
}

.menu {
    flex-basis: 30%;
    justify-content: space-around;
    font-size: $text-md;
    
    &__link {
        border: 0.14em solid $principal;
        border-radius: 0.5em;
        transition: border-color .3s ease-in;
        padding: 0.5em;
    }

    &__link:hover {
        border-color: $secondary;
        border-radius: 0.5em;
    }
}